.post-detail {
    padding: 20px;
    margin: 0 auto;
    background-color: #1e1e1e; /* Dark grey */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #e0e0e0; /* Light grey text for better contrast */
}

.post-detail h1 {
    margin-bottom: 10px;
    color: #ffffff; /* White */
}

.post-detail h2 {
    font-size: 22px;
    margin-bottom: 5px;
    color: #ffffff; /* White */
}

.post-detail h3 {
    font-size: 19px;
    margin-bottom: 40px;
    color: #dcdcdc; /* Light grey */
}

.post-detail p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #dcdcdc; /* Light grey */
}

.comments-section {
    margin-top: 30px;
}

.comments-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; /* White */
}

.comment {
    font-size: 18px;
    background-color: #2e2e2e; /* Slightly lighter dark grey */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #e0e0e0; /* Light grey */
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 98.3%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444444; /* Dark grey border */
    margin-top:30px;
    margin-bottom: 30px;
    resize: vertical;
    background-color: #2e2e2e; /* Slightly lighter dark grey */
    color: #e0e0e0; /* Light grey */
}

.likeButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #3a3a3a; /* Medium dark grey */
    color: #ffffff; /* White */
    cursor: pointer;
    transition: background-color 0.25s;
    margin-bottom: 20px;
}

.likeButton:hover {
    background-color: #5a5a5a; /* Lighter grey */
}

.moreButton img{
  width: 30px;
  float:right;

}
.moreButton:hover {
  cursor: pointer;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}